* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: inherit;
}

body,
html {
    font-size: 10px;
    height: 100%;
    font-family: 'Oswald-Regular';
}